* {
    margin: 0;
    padding: 0;
}

:root {
    --rojoprincipal: #CB341D;
    --grisClaro: #D9D9D9;
    --grisOscuro: #535353;
    --verde: #56b834;
    --azul: #456FDC;
    --amarillo: #D7DB07;
 }

.inter-400 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}


body {
    background-color: var(--grisClaro)
}

.rojo {
    color: var(--rojoprincipal);
}

.gris-oscuro {
    color: var(--grisOscuro);
}

.gris-claro {
    color: var(--grisClaro);
}